body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

.weather-app{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}
input{
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
}

button{
    padding: 10px 15px;
    background-color: #0078d7;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #005bb5;
}

.hidden{
    display: none;
}

#weather-display img{
    width: 50px;
    height: 50px;
}